Makefile
Makefile.in
Makefile.include
INSTALL
install-sh
aclocal.m4
missing
autom4te.cache
configure
config.log
config.status
Packages.mdse
bin/
expansions.m4
fsgateway.mds
fsgateway.userprefs
fsgateway.usertasks
fsgateway/fsgateway.pidb

